body {
	background-color: powderblue;
}

p {
	color: red;
}

img {
	float: right;
	margin: 10px 10px 10px 10px;
}

.header, .footer{
	background-color: grey;
	color: white;
	padding: 15px;
}

h3 {
	background-color: black;
	color: white;
	padding: 15px;
}

.dts{
	padding-left: 3em;
	font-size: 20px;
}