body{
	background-color:#ceaa3d;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin:0;
	padding-left: 50px;
	padding-right: 50px;
}
h1{
	color: #ffffff;
}
